{% extends 'blog/layout.html.twig' %}

{% block content %}
    <div class="w-full space-y-4 mb-16">
        <h1 class="">{{ title }}</h1>
        {% if description %}
            <p class="text-lg max-w-lg">{{ description }}</p>
        {% endif %}
    </div>

    <div class="block md:flex items-start gap-x-8">
        <div class="w-full">
            {% if posts|length > 0 %}
                <div class="space-y-6">
                    {% for post in posts %}
                        <twig:post post="{{ post }}" />
                    {% endfor %}
                </div>
            {% else %}
                <p class="text-lg font-medium">Ooops ! Aucun article enregistré</p>
            {% endif %}

            {{ knp_pagination_render(posts, 'components/pagination.html.twig') }}
        </div>
        <twig:categories />
    </div>
{% endblock %}