{% extends 'blog/layout.html.twig' %}

{% block content %}
    <div class="block md:flex items-start gap-x-8">
        <div class="w-full">
            <p class="text-base flex items-center gap-x-2 font-light text-slate-600">
                <twig:ux:icon name="mage:chart-25" class="size-4" />
                Publier {{ post.publishedAt|format_time_diff }}
            </p>
            <div class="mt-1.5 space-y-12">
                <h3 class="text-slate-900">{{ title }}</h3>

                <article class="text-lg text-slate-600">
                    {{ post.summary|markdown_to_html }}
                </article>

                <hr class="my-12 border-slate-300" />

                <article class="w-full text-slate-900 space-y-5">
                    {{ post.content|markdown_to_html }}
                </article>
            </div>
        </div>
        <twig:categories />
    </div>
{% endblock %}