@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
    --font-family: 'Inter', sans-serif;
    --font-size: 16px;
    --radius: 0.625rem;
    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
}

@theme inline {
    --font-sans: var(--font-family);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
}

@layer base {
    * {
        @apply border-gray-300 outline-[#A1A1A1FF]/50 font-sans;
    }

    body {
        @apply bg-slate-50 text-slate-900;
    }

    h1 {
        @apply text-5xl md:text-6xl font-bold leading-tight;
    }

    h2 {
        @apply text-4xl md:text-5xl font-bold leading-tight;
    }

    h3 {
        @apply text-3xl md:text-4xl font-bold leading-tight;
    }

    h4 {
        @apply text-2xl md:text-3xl font-semibold leading-tight;
    }

    p {
        @apply text-base font-normal;
    }

    label {
        @apply text-sm font-normal;
    }

    button {
        @apply text-sm font-normal;
    }
}

html {
    font-size: var(--font-size);
}

[x-cloak] { display: none !important; }

input[type='text'],
input[type='password'],
input[type='email'],
textarea {
    @apply file:text-slate-900 placeholder:text-slate-400 selection:bg-[#030213] selection:text-slate-50 border-transparent flex h-10 min-w-0 rounded-md border px-3 py-1 text-base bg-[#f3f3f5] transition-[color,box-shadow] outline-none file:inline-flex file:h-7 file:border-0 file:bg-transparent file:text-sm file:font-medium disabled:pointer-events-none disabled:cursor-not-allowed disabled:opacity-50 md:text-sm focus-visible:border-[#A1A1A1FF] focus-visible:ring-[#A1A1A1FF]/50 focus-visible:ring-[3px] aria-invalid:ring-[#d4183d]/20 dark:aria-invalid:ring-[#d4183d]/40 aria-invalid:border-[#d4183d] w-full;
}
textarea { @apply h-auto min-h-[100px]; }

form li {
    @apply text-sm text-red-500;
}