{% props
    class = '',
    image = null,
    class_content = null,
    badge = null,
    badge_title = null,
    badge_icon = null,
    badge_class = null,
%}

<div class="flex flex-col gap-6 rounded-lg border-0 transition-all duration-500 hover:shadow-xl {{ class }}">
    {% if image %}
        <div class="aspect-video overflow-hidden">
            <img src="{{ image }}"
                 alt="image"
                 class="w-full h-full object-cover rounded-t-lg group-hover:scale-110 transition-transform duration-500"
            >
        </div>
    {% endif %}
    {% block badge %}{% endblock %}
    <div class="{{ class_content }}">
        {% block content %}{% endblock %}
    </div>
</div>