{% props status = null %}
<label for="status" class="relative">
    <input id="status" type="checkbox" class="peer sr-only" role="switch" {{ status ? 'checked' }} />
    <div class="relative h-6 w-11 after:h-5 after:w-5 peer-checked:after:translate-x-5 rounded-full border border-border bg-background after:absolute after:bottom-0 after:left-[0.0625rem] after:top-0 after:my-auto after:rounded-full after:bg-blue-700 after:transition-all after:content-[''] cursor-pointer peer-checked:bg-blue-100 peer-checked:after:bg-blue-700 peer-focus:outline-none peer-active:outline-offset-0 peer-disabled:cursor-not-allowed peer-disabled:opacity-70" aria-hidden="true"></div>
</label>